<p id="notice"><%= notice %></p>

<p>
  <strong>Session:</strong>
  <%= @meeting.session_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @meeting.name %>
</p>

<%= link_to 'Edit', edit_meeting_path(@meeting) %> |
<%= link_to 'Back', meetings_path %>
